body {
    font-family: 'Roboto', sans-serif;
    color: #333;

}

img {
    max-width: 100%;
    height: auto;
}

* {
    /* make sure that padding doesn't mess up width by percentage */
    box-sizing: border-box;
}

a {
    color: $mainOrange;
}